body{

  background-color:black;
}

.light-mode{
   background-color:white;
   color:black;
}

.navbar{
  width:200%;
  height:50px;
  background-color:orange;
  position:fixed;
  top:0;
  left:0;
  z-index:5;
}


.navbar-container{
  display:flex;
  align-items:center;
 
  padding:0 50px;


}


.menu-container{
  flex:6;
}


.menu-list{
  display:flex;
  list-style:none;
}


.menu-list-item{
  margin-right:50px;
  padding: 0;
  overflow: hidden;
  background-color:balck;

}

 li {
    
    float:right;
    line-height: 15px;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;
  }
  
  li a:hover {
    background-color: pink;
  }
  .active {
    background-color: #04AA6D;
  }
 
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(139, 139, 139);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

h1 {
  color :orange;
  font-size:500%;
  text-shadow:2px 2px 5px red;
  padding:20px;
  text-align:center;
}

.bg-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  
  background-repeat: no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);

}

.bg-text{
  font-weight: bold;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:3;
  text-align: center;
  margin-top: 200px;
  width:40%;
  padding:20px;
  text-shadow:2px 2px 5px red
} 


p{
  color:#c40000;
  text-transform:capitalize;
  font-size:30px;
  word-spacing:7px;
  font-family:georgia;
}

.header{
  text-transform:capitalize;
  text-align:left;
  border-left:6px solid #ffc987;
}


.semi{
   color:#c40000;
   background-color:lightgray;
   font-size:40px;
   text-transform:capitalize;
   }